/*Index*/

*, *::after, *::before {
	box-sizing: border-box;
}

.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.heading-container {
	display: flex;
	align-items: center;
}

@media (max-width: 821px) {
	.header-container {
		flex-wrap: wrap;
		justify-content: center;
	}

	.header-item {
		/*width: 100%;*/
	}
}

.nav-container {
	display: flex;
}

@media (max-width: 407px) {
	.nav-container {
		flex-direction: column;*/
	}

	.nav-item {
		margin: 1rem;
	}
}

.footer-container {
	display: flex;
	justify-content: space-between;
}

@media (max-width: 957px) {
	.footer-container {
		flex-direction: column;
		align-items: center;
	}

	.copyright {
		order: 1;
		margin-top: 1rem;
	}
}

.footer-link-container {
	display: flex;
	flex-wrap: wrap;
}

@media (max-width: 722px) {
	.footer-link-container {
		flex-direction: column;
		color: white;
		text-align: center;
	}
}

/*Index*/

.divider-container {
	margin: auto;
}

.divider-container.wide {
	width: 70%;
}

.project-container {
	display: flex;
	flex-wrap: wrap;
	margin: 1rem auto;
	width: 70%;
}

.project-item {
	width: 50%;
}

@media (max-width: 957px) {
	.project-item {
		width: 100%;
	}
}

@media (max-width: 407px) {
	.heading-sentence, .divider-container.wide, .project-container, .footer {
		width: 90%;
	}
}

/*About*/

.section-about {
	margin-top: -1rem;
	margin-bottom: -1rem;
}

.button-container {
	display: flex;
	width: 50%;
	margin: auto;
}

.button-item {
	flex: 1;
	margin: 0 1rem 2rem 1rem;
}

@media (max-width: 407px) {
	.about-image {
		width: 80%;
		margin-top: 10%;
	}

	.section-about, .button-container {
		width: 90%;
	}
}

/*Contact*/

/*Project*/

.project-landing-container {
	position: relative;
	/*overflow: hidden;*/
	/*height: 85vh;*/
}

.project-landing-item {
	position: absolute;
	top: 2rem;
	left: 2rem;
}

@media (max-width: 407px) {
	.section, .divider-container.narrow, .project-nav {
		width: 90%;
	}
}

.project-nav-container {
	display: flex;
	margin: auto;
	padding: 1rem;
	width: 50%;
}

.project-nav-item {
	flex: 1;
}

/*Style Guide*/

.divider-container.narrow {
	width: 50%;
}

.colours-container {
	display: flex;
	margin: 1rem;
}

.colours-item {
	flex: 1;
}

@media (max-width: 1034px) {
	.colours-container {
		flex-wrap: wrap;
	}

	.colours-item {
		flex: none;
		width: 50%;
	}
}

@media (max-width: 801px) {
	.colours-item {
		width: 100%;
	}
}