/*Index*/

*, *::after, *::before {
	box-sizing: border-box;
}

.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-container {
	display: flex;
	justify-content: space-between;
}

/*Index*/

.divider-container {
	margin: auto;
	width: 70%;
}

.project-container {
	display: flex;
	flex-wrap: wrap;
	margin: 1rem auto;
	width: 70%;
}

.project-item {
	width: 50%;
}

@media (max-width: 976px) {
	.project-item {
		width: 100%;
	}
}

/*About*/

.button-container {
	display: flex;
}

.button-item {
	flex: 1;
}

/*Contact*/

/*Project*/

/*Style Guide*/