/*Style Guide*/

body {
	color: #555;
	font-family: 'Open Sans', sans-serif;
}

a {
	color: #555;
	text-decoration: none;
	font-weight: 600;
}

a:hover, a:focus, a:active {
	border-bottom: solid 1px #555;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: white;
	border-bottom: solid 1px #EEE;
}

.header-spacer {
	position: static;
}

.logo {
	position: absolute;
	top: 1.5rem;
	left: 1rem;
	/*width: 5rem;*/
	height: 2rem;
}

.logo:hover, .logo:focus, .logo:active {}

.heading {
	display: inline-block;
	margin: 1rem;
	padding: 1rem;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	letter-spacing: 1px;
}

.heading:hover, .heading:focus, .heading:active {}

.name {
	transition: margin-left 0.5s;
}

.name:hover, .name:focus, .name:active {
	/*margin-left: 7rem;*/
	transition: margin-left 0.5s;
}

.occupation {
	font-weight: 400;
}

.nav {
	margin: 1rem;
	font-family: 'Roboto', sans-serif;
}

.nav-link {
	margin: 1rem;
	font-weight: 400;
}

.nav-link:hover, .nav-link:focus, .nav-link:active {}

.button-scroll-to-top .material-icons {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	padding: 0.5rem;
	border-radius: 100%;
	background-color: white;
	color: red;
	font-size: 2rem;
	transition: background-color 0.25s, color 0.25s;
}

.button-scroll-to-top .material-icons:hover, .button-scroll-to-top .material-icons:focus, .button-scroll-to-top .material-icons:active {
	background-color: red;
	color: white;
	transition: background-color 0.25s, color 0.25s;
}

.section {
	margin: auto;
	width: 50%;
}

.subheading {
	display: inline-block;
	margin: 0;
	padding: 0.5rem;
	background-color: red;
	color: white;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-size: 1.25rem;
	font-weight: 300;
}

.title {}

.subtitle {}

.class-name {}

.code {}

.in-text-link {}

.footer {
	margin: 1rem auto;
	padding: 1rem;
	width: 70%;
	font-family: 'Roboto', sans-serif;
}

.footer-link {
	font-weight: 400;
}

.footer-link:hover, .footer-link:focus, .footer-link:active {
	border-bottom: solid 1px #555;
}

/*Portfolio*/

.heading-sentence {
	margin: 2rem auto 1rem auto;
	padding: 1rem;
	width: 70%;
	text-align: center;
}

.text {
	margin: 1rem 0;
	line-height: 1.5em;
}

.divider {
	margin: 0 1rem;
	border: solid 1px #EEE;
}

.project-link {
	margin: 1rem;
}

.image {
	width: 100%;
}

/*About*/

.about-image {
	margin: 1rem auto;
	width: 25%;
}

/*Contact*/

/*Project*/